html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  background-color: gray;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Body*/
@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);

body {
 
background:rgba(164, 116, 49, 0.8);
padding:10px;
display:block;
background:url(http://subtlepatterns.com/patterns/wood_pattern.png);
  font-family: 'Lucida Grande', Verdana, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
}

a {
  color: #1e7ad3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container, nav > ul {
  /*width: 680px;*/
  margin-left: auto;
  margin-right: auto;
}


/*Navigation bar */
header {
    padding-top: 10px;
  background: #3d4144 url("../img/bg.png") 0 0 repeat;
  border-bottom: 5px solid #ddd;
  width: 1039px;
  margin-left:auto;
margin-right:auto;
  border-right: 5px solid #ddd;
  border-left: 5px solid #ddd;
  border-top:5px solid #ddd;
}

nav {
  padding-left: 30%;
  height: 36px;
  border-top: 1px solid #353939;
  border-bottom: 1px solid #2e3131;
  background-color: #464b4c;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #464b4c), color-stop(100%, #3f4344));
  background-image: -webkit-linear-gradient(top, #464b4c, #3f4344);
  background-image: -moz-linear-gradient(top, #464b4c, #3f4344);
  background-image: -ms-linear-gradient(top, #464b4c, #3f4344);
  background-image: -o-linear-gradient(top, #464b4c, #3f4344);
  background-image: linear-gradient(top, #464b4c, #3f4344);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
  -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
  display: block;
}
nav a {
  -webkit-transition-property: background-color, line-height;
  -moz-transition-property: background-color, line-height;
  -ms-transition-property: background-color, line-height;
  -o-transition-property: background-color, line-height;
  transition-property: background-color, line-height;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  display: block;
}
nav ul {
  
  border-left: 1px solid #353939;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid #4d5354;
  border-right: 1px solid rgba(255, 255, 255, 0.06);
  display: block;
}
nav li {
  float: left;
}
nav a {
  display: block;
  padding: 0 20px;
  line-height: 36px;
  color: #ddd;
  text-shadow: 0 -1px #2e3131;
  border-left: 1px solid #4d5354;
  border-left: 1px solid rgba(255, 255, 255, 0.06);
  border-right: 1px solid #353939;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  cursor: pointer;
}
nav a:hover {
  background: #4d5354;
  background: rgba(255, 255, 255, 0.05);
}
nav ul ul { display:none; width:100%; position:absolute; left:0; background:#6a6a6a; }
nav ul ul li { float:none; }
nav ul ul a { padding:5px 10px; border-left:none; border-right:none; font-size:14px; }
nav ul ul a:hover { background-color:#555; }
nav li.active a, nav li.active a:hover, nav a:active {
  border-left: 0;
  border-right: 0;
  padding: 0 21px;
  line-height: 33px;
  border-bottom: 3px solid #48a9c0;
  color: #eee;
  background-color: #323637;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #484e4f), color-stop(100%, #323637));
  background-image: -webkit-linear-gradient(top, #484e4f, #323637);
  background-image: -moz-linear-gradient(top, #484e4f, #323637);
  background-image: -ms-linear-gradient(top, #484e4f, #323637);
  background-image: -o-linear-gradient(top, #484e4f, #323637);
  background-image: linear-gradient(top, #484e4f, #323637);
  -webkit-box-shadow: inset 0 -1px #151717, inset 0 -1px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -1px #151717, inset 0 -1px 8px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px #151717, inset 0 -1px 8px rgba(0, 0, 0, 0.2);
}


/*End of Navigation */



#logo{
  text-align: center;
  font-size: 20px;
  color: white;
  height: 35px;
 /* margin-right: 200px;*/
}

.container{
  height: 550px;
  width: 70%;
  margin: auto;
  background: #ecedef;
  color: #404040;
  border-right: 5px solid #ddd;
  border-left: 5px solid #ddd;
}

footer{
  background: #3d4144 url("../img/bg.png") 0 0 repeat;
  border-top: 5px solid #ddd;
   width: 1039px;
  margin-left:auto;
margin-right:auto;


}

/* Side Bars */
.left_bar{
  position: absolute;
  width: 210px;
  height: 550px;
}

/*Load bars */
.load {
  width: 150px;
  padding: 4px;
  margin-bottom: auto;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.load-bar {
  position: relative;
  height: 16px;
  border-radius: 4px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}
.load-bar:before, .load-bar:after {
  content: '';
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
}
.load-bar:before {
  bottom: 0;
  z-index: 2;
  background: url("../img/stripes.png") 0 0 repeat;
  border-radius: 4px 4px 0 0;
}
.load-bar:after {
  bottom: 45%;
  z-index: 3;
  border-radius: 4px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(255, 255, 255, 0.05)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}

b{
  font-size: 12px;
  color:black;
  font-weight:bold;
}
#stats_title{
  margin-left: 50px;
}
#avg{
margin-left: 60px;}

.dropdown {
  position: relative;
}
.dropdown:hover ul {
  display: block;
}
.dropdown ul {
  display: none;
  position: absolute;
  top: 39px;
  left: -1px;
  min-width: 160px;
  padding: 0 0 5px;
  background: #fff;
  border: 1px solid #dadada;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04);
}
.dropdown ul.large {
  min-width: 200px;
}
.dropdown li {
  display: block;
  margin: 0 18px;
  overflow: visible;
}
.dropdown li + li {
  border-top: 1px solid #eee;
}
.dropdown li a {
  display: block;
  color: #555;
  padding: 8px 18px;
  margin: 0 -18px;
}
.dropdown li a:hover {
  color: #222;
}
nav > ul > li.active > a, nav > ul > li > a:active, nav > ul > li.dropdown:hover > a {
  background: #fff;
  color: #404040;
  text-shadow: none;
  -webkit-box-shadow: 0 2px white, 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px white, 0 0 2px rgba(0, 0, 0, 0.2);
}

/*Css for projectos.php table*/
.projectos{
  border: 1px solid black;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
}
td,th,tr{
  border: 1px solid black;
  text-align: center;
}